mrs_uav_managers:

  estimation_manager:

    # loaded state estimator plugins
    state_estimators: [
      "gps_baro",
      "rtk",
    ]

    initial_state_estimator: "rtk" # will be used as the first state estimator
    agl_height_estimator: "" # only slightly filtered height for checking min height (not used in control feedback)

  uav_manager:

    max_throttle:
      enabled: false #disable failsafe landing over throttle

    takeoff:

      during_takeoff:
        controller: "MpcController"
        tracker: "LandoffTracker"

      after_takeoff:
        controller: "NmpcController"
        tracker: "MpcTracker"

  control_manager:

    safety:

      tilt_limit:

        eland:
          enabled: false

        disarm:
          enabled: false

      tilt_error_disarm:
        enabled: false

      yaw_error_eland:
        enabled: false

    # TODO: 
    NmpcController:
      address: "controller_module/ControllerModule"
      namespace: "controller_module"
      eland_threshold: 0.0 # [m], position error triggering eland
      failsafe_threshold: 0.0 # [m], position error triggering failsafe land
      odometry_innovation_threshold: 0.0 # [m], position odometry innovation threshold
      human_switchable: true

      # which outputs the controller can provide
      outputs:
        actuators:             false
        control_group:         false
        attitude_rate:         true
        attitude:              false
        acceleration_hdg_rate: false
        acceleration_hdg:      false
        velocity_hdg_rate:     false
        velocity_hdg:          false
        position:              false

    # list of names of dynamically loaded controllers
    controllers : [
      "NmpcController",
    ]

    CsvTracker:
      address: "mrs_uav_trackers/CsvTracker"
      namespace: "csv_tracker"
      human_switchable: true

    # list of names of dynamically loaded trackers
    trackers : [
      "CsvTracker",
    ]

